@font-face {
  font-family: 'Inter';
  src: local('Poppins'), url(../../assets/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  src: local('Poppins'), url(../../assets/fonts/NotoSansJP-Regular.otf) format('truetype');
}
