@mixin flex($just-content, $align-item) {
  display: flex;
  justify-content: $just-content;
  align-items: $align-item;
}

// Create typography
@mixin typography($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

// response above for typography
@mixin resTypAbove($breakpoint, $font-size, $line-height, $font-weight) {
  @include respond-above($breakpoint) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
  }
}
