// == Breakpoints ===
$breakpoints: (
		small: 560px,
		medium: 768px,
		wide: 960px,
		large: 1024px,
		largest: 1280px,
		super-largest: 1440px
);

$color: (
		light: #FFFFFF,
		primary-300: #FFCC21,
		primary-400: #FF963C,
		primary-500: #EA6C00,
		secondary: #8FE9D0,
		dark: #2E2E2E,
		dark-text: #414141,
		gray: #777777,

);

$font-size: (
		xs: 12px,
		sm: 14px,
		normal: 16px,
		lg: 18px,
		xl: 20px,
		xxl: 24px,
		xxxl: 30px
);

$font-weight: (
		thin: 300,
		normal: 400,
		medium: 500,
		bold: 600
);

$font-body: NotoSansJP;
$font-Inter: Inter;

