.column {
  margin: 0 150px;

  &-header {
    @include flex(space-between, center);
    padding: 56px 0;

    &-item {
      @include flex(center, center);
      flex-direction: column;
      height: 144px;
      width: 216px;

      &-line {
        width: 56px;
        height: 2px;
      }
    }
  }
}
