.record {
  margin: 0 160px;

  &-chart {
    margin: 56px 0;

    &-month {
      width: 100%;
      @include flex(flex-start, center);

      &-item {
        text-align: center;
        width: 56px;
        height: 24px;
        line-height: 24px;
        border-radius: 11px;
      }
    }
  }

  &-exercise {
    height: 264px;
    overflow-y: scroll;

    ::-webkit-scrollbar {
      scrollbar-color: yellow black;
    }
  }
}
